{% extends './base.html'%}
{% block content %}

<div class="container">
    <div class="starter-template">
        <div class="jumbotron text-center centering-title">
            <h1 class="display-2" style="display:inline-block;">Welcome to</h1>
            <br>
            <h1 class="display-2" style="display:inline-block;">つきみ</h1>
            <h1 class="display-2" style="display:inline-block;">日常</h1>
            <h1 class="display-2" style="display:inline-block;">保管庫</h1>

        </div>
    </div>


    <h1 style="padding-bottom: 2rem; padding-left: 3rem;">自己紹介</h1>
    <table class="table table-striped table-hover">
        <tr>
            <td>名前:</td>
            <td>つきみ</td>
        </tr>
        <tr>
            <td>プロフィール:</td>
            <td>
                プロフィール:愛知県出身で現在19歳の専門1年です。ネットではつきみという名前で活動しています。
                <br>のんびり好きなこと興味があることを色々やっています。フレンドリーなので声をかけてくれると嬉しいです。
            </td>
        </tr>
        <tr>
            <td>これまで使ったことある言語:</td>
            <td>HTML5,Javascript,CSS,python,C#,java,SQL</td>
        </tr>
        <tr>
            <td>好きな食べ物。好きなこと:</td>
            <td>雪見だいふく。お寿司。物を作ったりするのが好き。特に制作過程が一番やりがいを感じる人</td>
        </tr>
    </table>

    <h1 style="padding-bottom: 2rem; padding-left: 3rem;">このサイトの目的</h1>
    <table class="table table-striped table-hover">
        <tr>
            <td>
                自分が作った作成物や自分自身が感じたことや共有したいことなどを投稿していくサイトです。
            </td>
        </tr>
    </table>
</div>

</div>

{% endblock %}