{% extends './base.html'%}
{% block content %}

<div class="container">
    <h1>成果物一覧</h1>
    <table class='table table-striped table-hover'>
        <tr>
            <td>日にち</td>
            <td>作成物</td>
            <td>URL</td>
        </tr>
        <tr>
            <td>2024/01/25</td>
            <td>掲示板サイト</td>
            <td><a href='{% url "tukimipage:index" %}'>URL</a></td>
        </tr>
        <tr>
            <td>2022/08/15</td>
            <td>ウマ娘育成計算</td>
            <td><a href="https://tukimi1215.github.io/umamusume/">URL</a></td>
        </tr>
        <tr>
            <td>2023/11/12</td>
            <td>googleChome-CRloader</td>
            <td><a href="https://github.com/Tukimi1215/googleChome-CRloader">GitHubURL</a></td>
        </tr>
    </table>
</div>
{% endblock %}